recursive-include kato/data *
recursive-include kato/migrations *
recursive-include kato/static *
recursive-exclude kato/static/assets/docs *
recursive-exclude kato/static/assets/images/viz_thumbnails_large *
recursive-exclude kato/static/docs *
recursive-exclude kato/static/spec *
recursive-exclude kato/static/images/viz_thumbnails_large *
recursive-exclude kato/static/assets/node_modules *
recursive-include kato/templates *
recursive-include kato/translations *
recursive-exclude tests *
