recursive-include rook/data *
recursive-include rook/migrations *
recursive-include rook/static *
recursive-exclude rook/static/assets/docs *
recursive-exclude rook/static/assets/images/viz_thumbnails_large *
recursive-exclude rook/static/docs *
recursive-exclude rook/static/spec *
recursive-exclude rook/static/images/viz_thumbnails_large *
recursive-exclude rook/static/assets/node_modules *
recursive-include rook/templates *
recursive-include rook/translations *
recursive-exclude tests *
